@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";

@primary-color: #0f8012; // primary color for all components
//@primary-color: #1890ff; // primary color for all components
//@link-color: #1890ff; // link color
//@success-color: #52c41a; // success state color
//@warning-color: #faad14; // warning state color
//@error-color: #f5222d; // error state color
//@font-size-base: 14px; // major text font size
//@heading-color: rgba(0, 0, 0, 0.85); // heading text color
//@text-color: rgba(0, 0, 0, 0.65); // major text color
//@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
//@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
//@border-radius-base: 2px; // major border radius
//@border-color-base: #d9d9d9; // major border color
//@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
//0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

* {
  text-align: center;
}

header {
  background: #FFFFFF !important;
  padding: 0 16px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  background: #FFFFFF;
  height: calc(100vh - 134px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

footer {
  background: #FFFFFF !important;
  display: flex;
  justify-content: center;
}
