@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  dialog {
    max-width: 300px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    background: #0f8012;
    border: none;
    min-height: 40px;
    border-radius: 40px;
    color: #fff;
    padding: 8px 16px;
  }

  h1 {
    @apply max-w-lg text-3xl;
  }

  a {
    color: #0f8012;
    text-decoration: none;
  }
}

* {
  text-align: center;
}

main {
  display: flex;
  background: #fff;
  height: calc(100vh - 134px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

footer {
  background: #fff !important;
  display: flex;
  justify-content: center;
}
